.recipe-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
}
.recipe-card:hover {
    box-shadow: 0 0 1em rgba(0,0,0,0.3);
}
.recipe-card img{
    width: 100%;
}
.recipe-card-title {
    font-size: 1.1rem;
    margin-top: 10px;
}
.recipe-card-title:hover{
    transition: .3s;
    color: #3a9691;
}
.recipe-type-label {
    margin-top: 10px;
    text-transform: capitalize;
    color: #505050;
    font-size: .9rem;
}

@media only screen and (min-width: 1140px) {
    .recipe-card {
        width: 18%;
        margin: 1%;
    }
}
@media only screen and (max-width: 1140px) {
    .recipe-card {
        padding: 10px;
        width: 23%;
        margin: 1%;
    }
    .recipe-card-title {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 600px) {
    .recipe-card {
        width: 90%;
        padding: 15px;
        margin: .75rem 5%;
    }
    .recipe-card-title {
        width: fit-content;
        font-size: 1.1rem;
    }
}