.library-book-list {
    margin-top: 2rem;
    padding: 1rem;
}
.library-create-book {
    border-bottom: 1px solid #888;
    padding: .5rem .5rem 1rem;
}
.library-create-book-button {
    width: fit-content;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #444;
    cursor: pointer;
    transition: .3s;
}
.library-create-book-button:hover {
    color: #000;
}
.create-book-icon {
    width: 45px;
    height: 45px;
    margin-right: 2rem;
    border: 1px solid #888;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.library-create-book-button p {
    font-size: 1.1rem;
}