@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.navbar {
    width: 16%;
    height: 100vh;
    position: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1.5rem 0 0 1.5rem;
}
.navbar-logo {
    margin-bottom: .75rem;
    color: #f93f23;
}
.navbar a{
    width: fit-content;
    display: flex;
    align-items: center;
    color: #222;
    text-decoration: none;
    padding: 7px 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.navbar a:hover{
    text-decoration: underline;
}
.navbar a.active {
    color: #f93f23;
}
.navbar a svg {
    font-size: 1.1rem;
    margin-right: 5px;
}
