footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 2rem;
}
footer a {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
    footer {
        padding: 1.5rem 0 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 1rem 0 1rem;
        font-size: .8rem;
    }
}