@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  background-image: url('./assets/bg.png');
  background-position: right top;
  background-size: inherit;
  background-repeat: no-repeat;
}

main {
  width: 84%;
  margin-left: 16%;
  padding: 24px 40px;
}
section, footer {
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    margin-bottom: 80px;
    margin-left: 0;
    padding: 1rem;
  }
}